:root {
	// colors
	--bg: #0b0d17;
	--headline-color: #ffffff;
	--hover-underline: #979797;
	--text: #d0d6f9;
	--accent1: hsl(231, 10%, 42%);
	--accent2: hsl(231, 10%, 22%);

	// fonts
	--bellefair: 'Bellefair';
	--barlow: 'Barlow Condensed';
}
