@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

@font-face {
    font-family: bellefair ;
    font-weight: 400;
    src: url('../bellefair/Bellefair-Regular.ttf');
}

@import './normalize';
@import './general';
@import './variables';
